header {
  height: 4rem;
  max-width: 120rem;
  margin: 0 auto;
  padding: 1rem 3.2rem;
  padding-top: 3.2rem !important;
}
.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.navigation .navigation_list_item {
}


@media (max-width: 59em) {
  /* 59*16=944px */
 
 /* mobile navigation  */

}

@media (max-width: 34.25em) {


}