/* ***************** */
/* *Hero section  */
/* **************** */
/* spacing
2/4/8/12/16/24/32/48/64/80/96/128*/
/* font-size
10/12/14/16/18/20/24/30/36/44/52/62/74/86/98*/
.section-hero {
  background-color: #495e57;
  margin-top: 9.6rem;


}
.hero {

  display: grid;
  padding:  3.2rem;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  gap: 3.2rem;
}
.branch-title {
  display: block;
  color: #edefee;
  font-family: "Markazi Text", serif;
  font-size: 4.4rem;
  font-weight: 500;
  letter-spacing: -0.5px;
  line-height: 1.1;
  margin-bottom: 3.2rem;
}
.image-box {
  width: 100%;
  transform: translateY(90px);
text-align: center;
}
.meal-img {
  max-width: 100%;
  height: 100%;
  
}
/* .hero-img-box {
  position: relative;
}

.mock-up {
  position: absolute;
  right: -25rem;
  top: -1rem;
}
.mock-up > img {
  width: 100%;
} */
.text-description {
  font-size: 1.8rem;
  color: #edefee;
  
  margin-bottom: 4.8rem;
  line-height: 1.6;
}
.hero-description {
  max-width: 45rem;
}
/* ***************** */
/* * section-feature */
/* **************** */
.section-feature {
  background-color: #f3f4f6;
  padding: 9.6rem 0;
}
.features-container {
}
.feature-text {
  max-width: 64rem;
  margin-bottom: 6.4rem;
}
.feature-box {
  display: flex;
  gap: 2.4rem;
}
.feature {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 3.2rem;
}
@media (max-width: 84em) {

  /* rem===em  */
  /* 84*16=1344  smaller desktop*/
  .section-hero {
    padding-bottom: 3.2rem;
  }
  .hero {
    padding-right: 3.2rem;
    /* grid-template-columns: 1fr 1fr; */

  }
  .image-box {
      transform: translateY(10rem);
  }
  
}

/*****************/
/* Landscape tablets*
1200px==1200/16=75em/
/*****************/
/* Now if we change the font size of default,
every value we define in html based on our defince 62.5%,
will reduce based on this value*/
@media (max-width: 75em) {
  /* 74*16=1184px */
  html {
    font-size: 56.25%;
  }
  .hero {
      grid-template-columns: 1fr 1fr;

  }
  .image-box {
    transform: translateY(10rem);
}
  .header {
    padding: 0 3.2rem;
  }
 
  
}
@media (max-width: 59em) {
  /* 59*16=944px */
  html {
    font-size: 50%;
  }
  .image-box {
    transform: translateY(20rem);
}

  .heading-primary {
    margin-top: 1.4rem;
    padding-top: 1.4rem;
    line-height: 1;
  }
 
}

/*****************/
/* Landscape tablets*
548px==548/16=34.25em/
/*****************/
@media (max-width: 34.25em) {

  .hero {
    grid-template-columns: 1fr;
    overflow: hidden;
    gap: 0;
  }
  .hero-text-box {
 align-self: center;
 text-align: center;
  }
  .hero-description {
   max-width: 60rem;
   margin: 0 auto;
   padding-bottom: 4.8rem;
  }
  .image-box {
    display: none;
}
  .image-box img {
    /* max-width: 100%; */

  }
}