@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");
:root {
  --main-text-color: #00252e;
  --text-color: #5d5f79;
  --text-black-color: #c5c6ce;
  --primary-btn-color: #ff52bf;
  --light-pink-color: #ff8fd8;
  --light-red-color: #ff4242;
  --style-background-color: #f5faff;
  --white-color: #ffffff;

  /* font styles  */
  --font: "Poppins", sans-serif;
}

* {
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
html {
  /* 1rem=16px 10/16*100 */
  font-size: 62.5%;
  scroll-behavior: smooth;
}
*:focus {
  outline: none;
}
strong {
  font-weight: 600;
}
a {
  all: unset;
}

body {
  font-weight: 400;
  font-family: var(--font);
  color: var(--main-text-color);
  background-color: var(--white-color);
}
/* header */
header {
  height: 4rem;
  padding-top: 2rem;
  max-width: 120rem;
  margin: 0 auto;
  padding: 1rem 3.2rem;
}
.logo_img {
  max-width: 100%;
}
.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--text-color);
  font-size: 1.5rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.navigation_list {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 4rem;
  cursor: pointer;
}

.navigation_list_item {
  font-size: 1.8rem;
  font-weight: 500;
  color: var(--main-text-color);
}
